* {
    padding: 0;
    margin: 0;
  }

.h2 {
    margin-left: 450px;
    font-size: 40px;
    /* font-weight: 600; */
    font-family: Matura MT Script Capitals;
}

.lu {
    margin-right: 50px;
    font-size: 30px;
    font-weight: 200;
    font-family: Colonna mt;
}